/* Colors definitions */
:root {
    --excitatory-color: #B88784;
    --inhibitory-color: #4E9496;
    --pre-color: #928479;
    --post-color: #7C8FA3;
    --mixt-color: #b0b39f;
    --highlight-color: #43433b;
}

/* Legends */
#preLegend{
    fill: var(--pre-color);
}

#postLegend{
    fill: var(--post-color);
}

#mixedLegend{
    fill: var(--mixt-color);
}

/*Buttons (bootstrap modifs)*/
.btn-outline-warning,.btn-outline-warning.active{
    color: var(--pre-color);
    border-color: var(--pre-color);
}

.btn-outline-warning:hover,
.btn-outline-warning:active,
.btn-outline-warning:focus,
.btn-outline-warning:active:focus,
.show > .btn-outline-warning.dropdown-toggle{
    background: var(--pre-color);
    border-color: var(--pre-color);
    color: white;
    box-shadow: none;
}

.btn-outline-info:hover,
.btn-outline-info:active,
.btn-outline-info:focus,
.btn-outline-info.active,
.btn-outline-info:active:focus,
.show > .btn-outline-info.dropdown-toggle{
    background: var(--post-color);
    border-color: var(--post-color);
    color: white;
    box-shadow: none;
}
    
.btn-outline-info{
    color: var(--post-color);
    border-color: var(--post-color);
}


/* Neuropiles*/

.neuropile,  .neuropile-diagram{
    fill-opacity: 1;
    fill: var(--mixt-color);
    stroke: Gray;
}

.neuropile-neuron-pre,
.neuropile-neuron-post{
    fill-opacity: 1;
    fill: LightGray;
    stroke: Gray;
}


.neuropile-diagram-pre{
    fill-opacity: 1;
    fill: var(--pre-color);
}

.neuropile-diagram-post{
    fill-opacity: 1;
    fill: var(--post-color);
}

.neuropile-diagram-pre.neuropile-diagram-post{
    fill-opacity: 1;
    fill: var(--mixt-color);
}

.neuropile-diagram-pre.neuropile-diagram-post.unselected_neuropile {
    fill: LightGray;
    fill-opacity: 1;
}

.unselected_neuropile {
    fill: LightGray;
    fill-opacity: 1;
}

/* Connectors*/
.legend-connector{
    fill: none;
    stroke-linecap: round;
}

.connector{
    fill: none;
    stroke-linecap: round;
}

.connector-clickable{
    fill: none;
    stroke: none;
}

.connector-clickable:hover .connector{
    stroke-opacity: 1;
}

.excitatory-connector{
    stroke: var(--excitatory-color);
    marker-mid: url(#arrow-exc);
}

.inhibitory-connector{
    stroke: var(--inhibitory-color);
    marker-mid: url(#arrow-inh);
}

.unselected_by_neuron {
    stroke: LightGray;
    marker-mid: url(#arrow-hidden);
}

.unselected_connection {
    stroke: LightGray;
    marker-mid: url(#arrow-hidden);
}

.active-connector{
    stroke-opacity: 1;
    stroke: var(--highlight-color);
}

.selected_by_neuron{
    stroke-opacity: 0.7;
}

/* Arrows */
.arrow{
    fill-opacity: 0.7; 
    orient: auto;
}

/* Neurons */
.single_neuron{
    stroke: var(--highlight-color);
    fill: var(--highlight-color);
    fill-opacity: 1    ;
}

.neuron{
    fill: none;
}

.neuron-selected-pre {
    fill: var(--pre-color);
    fill-opacity: 0.2;
}

.neuron-selected-post {
    fill: var(--post-color);
    fill-opacity: 0.2;
}

.neuron-selected-pre.neuron-selected-post {
    fill: var(--mixt-color);
    fill-opacity: 0.4;
}

/* Plot area*/
.unactive-plot{
    filter: opacity(25%);
}

#mPlotContainer::before {
  content: '';
  padding-top: 100%;
  display: block;
}